.task {
    width: 1000px;
    height: 650px;
    background: #373636;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 55px;
    color: #FFFFFF;
    flex-direction: column;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taksID {
    font-size: 24px;

    width: 281px;
    height: 60px;
    background: #3C3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

.taksDescription {
    position: relative;
    width: 650px;
    height: 112.12px;
    background: #3C3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.taskField {
    position: relative;
    width: 281px;
    height: 46px;
    background: #3C3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.fieldInfo {
    position: absolute;
    top: -36px;
}

.row {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.workflow {
    margin-top: 20px;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.workflow .fieldInfo {
    lefT: 20px;
    top: -40px;

}

.workflowElement {
    width: 150px;
    height: 46px;
    background: #3C3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.workflowElementActive {
    width: 150px;
    height: 46px;
    background: #3C3B3B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: 1px solid white
}